@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Ysabeau+SC:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #ffd700;
    background-color: #272745;
}

h1,
h2,
h3,
h4 {
    font-family: 'Ysabeau SC', sans-serif;
}

p {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}

#href {
    text-decoration: none;
}

#href:hover {
    color: #272745;
    background-color: #ffd700;
}


/* Nav Bar */
.fixed-nav-bar {
    background-color: rgba(39, 39, 69, 0.902);
    position: fixed;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #ffd700;
    z-index: 3;
}

.fixed-nav-bar a {
    color: #ffd700;
}

#nav-title {
    float: left;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    padding-left: 25px;
    padding-top: 10px;
    list-style: none;
}

#nav-list {
    float: right;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 20px;
    list-style: none;
    padding-right: 25px;
    padding-top: 10px;
}

/* Hero and Hero-Text */
#hero-outer {
    height: 720px;
    width: 100%;
    overflow: hidden;
}

#hero {
    width: 100%;
    height: 800px;

    background-image: url('../images/blackrock-castle.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background: relative;
}

#hero-text {
    font-family: 'Ysabeau SC', sans-serif;
    color: #ffd700;
    text-align: center;
    letter-spacing: 4px;

    width: 380px;
    height: 100px;
    border-radius: 20px;

    background-color: rgba(39, 39, 69, .7);
    top: 15%;
    right: 1%;

    position: absolute;
    z-index: 1;
}

/* A brief history */
.brief-history {
    background-color: #fafafa;
    color: #272745;
    height: 1100px;
    width: 100%;
    padding-top: 50px;
}

#brief-history-alignment {
    padding-left: 2%;
    padding-right: 2%;
    width: 50%;
    float: left;
    text-align: center;
}

.brief-history img {
    width: 40%;
    padding-bottom: 1%;
    float: right;
    padding-right: 2%;
}

/* BC Observatory */
.observatory {
    width: 100%;
    height: 720px;
}

#observatory-alignment {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.observatory a {
    color: #ffd700;
    border-bottom: 2px solid #ffd700;
}

.observatory iframe {
    width: 100%;
    height: 600px;
}


/* BC castle-cafe */
.castle-cafe {
    background-color: #fafafa;
    width: 100%;
    height: 400px;
}

#castle-cafe-allignment {
    color: #272745;
    padding-left: 2%;
    padding-top: 50px;
    width: 35%;
    float: left;
    text-align: center;
}

.castle-cafe a {
    color: #272745;
    border-bottom: 2px solid #272745;
}

.castle-cafe img {
    float: right;
    width: 60%;
    height: 400px;
    padding-left: 2%;
}

/* BC Location */
.location {
    width: 100%;
    height: 500px;
}

.location h1 {
    text-align: center;
    padding-top: 40px;
}

.location img {
    width: 50%;
    height: 500px;
    float: left;
}

.location iframe {
    width: 50%;
    height: 500px;
    float: right;
}

/* Trip Advisor Reviews */
.reviews {
    background-color: #fafafa;
    padding-top: 20px;
}

.reviews h1 {
    color: #272745;
    text-align: center;
}

/* Contact Form */
.contact-form {
    width: 40%;
    height: 540px;
    float: left;
    padding-left: 10%;
}

.contact-form h1 {
    text-align: center;
    padding-bottom: 10px;
}

input {
    font-size: 20px;
    font-style: italic;
    font-family: 'Ysabeau SC', sans-serif;
    width: 90%;
    margin-bottom: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    background-color: white;

}

input:focus-within {
    outline: none;
    border-width: 3px;
    border-color: #ffd700;
}

textarea {
    font-size: 20px;
    font-style: italic;
    font-family: 'Ysabeau SC', sans-serif;
    width: 90%;
    margin-bottom: 25px;
    padding: 10px 18px;
    border-radius: 10px;
    border-color: #ffd700;
    background-color: white;
}

textarea:focus-within {
    outline: none;
    border-width: 3px;
    border-color: #ffd700;
}

button {
    font-size: 20px;
    font-family: 'Ysabeau SC', sans-serif;
    padding: 10px 18px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    margin: auto;
}

button:hover {
    outline: none;
    border-width: 3px;
    background-color: #ffd700;
    opacity: 80%;
}

/* contacts */
.contacts {
    width: 40%;
    height: 520px;
    float: right;
    text-align: center;
}

.contacts #href:hover {
    background-color: #272745;
}

.contacts-li {
    list-style: none;
    display: inline;
    font-size: 100px;
    padding: 5%;
}

.contact-allignment {
    margin-top: 30%;
}


/* Gallery */
.gallery-allignment {
    width: 100%;
    height: 3030px;
    overflow: hidden;
    border-bottom: 1px solid #ffd700;
}

.gallery-allignment img {
    width: 100%;
}

#images {
    column-count: 2;
    row-gap: 0;
    column-gap: 0;
}

.gallery-allignment h1 {
    height: 50px;
    padding-top: 5%;
    text-align: center;
}

/* media queries */
@media screen and (max-width: 2561px) {
    .brief-history {
        height: 900px;
    }

    .brief-history img {
        height: 400px;
        padding-right: 5%;
    }

    .gallery-allignment {

        height: 2630px;
    }

    #images {
        column-count: 3;
    }

    .observatory {
        width: 100%;
        height: 900px;
    }

    .observatory iframe {
        width: 50%;
        height: 500px;
        padding-left: 25%;
    }
}

@media screen and (max-width: 1657px) {
    .brief-history {
        height: 1150px;
    }
}

@media screen and (max-width: 1557px) {
    .brief-history {
        height: 1250px;
    }
}

@media screen and (max-width: 1457px) {
    .brief-history {
        height: 1340px;
    }

    .brief-history img {
        padding-top: 10%;
    }

    .gallery-allignment {

        height: 3070px;
    }

    #images {
        column-count: 2;
    }
}

@media screen and (max-width: 1357px) {
    .brief-history {
        height: 740px;
        width: 100%;
        padding-top: 25px;
    }

    #brief-history-alignment {
        padding-left: 0%;
        padding-right: 0%;
        width: 100%;
        float: none;
        text-align: center;
    }

    .brief-history img {
        width: 0%;
        padding-bottom: 0%;
        float: none;
        padding-right: 0%;
    }

    .observatory {
        height: 900px;
    }
}

@media screen and (max-width: 1257px) {
    .brief-history {
        height: 795px;
    }

    #observatory-alignment {
        padding-right: 0%;
        width: 90%;
        float: none;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 5%;
    }

    .observatory iframe {
        width: 100%;
        height: 400px;
        padding-left: 0;
        padding-top: 1%;
    }
}

@media screen and (max-width: 1157px) {
    .brief-history {
        height: 860px;
    }

    #castle-cafe-allignment {
        padding-top: 30px;
    }

    .castle-cafe {
        height: 430px;
    }

    .castle-cafe img {
        height: 430px;
    }
}

@media screen and (max-width: 1057px) {
    #hero {
        background-image: url('../images/Blackrock_Castle_\(Blackrock\,_Co.Cork\).jpg');
    }

    #hero-text {
        letter-spacing: 2px;
        width: 50%;
        height: 110px;
        padding-top: 0%;
        border-radius: 10px;
        top: 12%;
        left: 1%;
    }

    .brief-history {
        height: 965px;
    }

    .observatory {
        height: 890px;
    }

    #castle-cafe-allignment {
        padding-top: 10px;
    }

    .gallery-allignment {

        height: 2180px;
    }
}

@media screen and (max-width: 957px) {
    .brief-history {
        height: 1110px;
    }

    .observatory {
        height: 925px;
    }

    .castle-cafe {
        height: 630px;
    }

    #castle-cafe-allignment {
        padding-left: 5%;
        width: 90%;
        float: none;
        text-align: center;
    }

    .castle-cafe img {
        float: none;
        width: 100%;
        height: 400px;
        padding-left: 0%;
        padding-top: 30px;
    }

    .location {
        height: 1060px;
    }

    .location img {
        width: 100%;
        height: 500px;
        float: none;
    }

    .location iframe {
        width: 100%;
        height: 500px;
        float: none;
    }
}

@media screen and (max-width: 857px) {
    #nav-title {
        font-size: 0px;
    }

    .brief-history {
        height: 1160px;
    }

    .observatory {
        height: 965px;
    }
}

@media screen and (max-width: 785px) {
    .brief-history {
        height: 1275px;
    }

    .observatory {
        height: 1050px;
    }

    .castle-cafe {
        height: 650px;
    }

    .gallery-allignment {
        height: 1650px;
    }

    .gallery-allignment h1 {
        padding-top: 6%;
    }
}

@media screen and (max-width: 708px) {
    .brief-history {
        height: 1375px;
    }

    .observatory {
        height: 1060px;
    }
}

@media screen and (max-width: 657px) {
    .brief-history {
        height: 1500px;
    }

    .observatory {
        height: 1060px;
    }

    .castle-cafe {
        height: 600px;
    }

    .castle-cafe img {
        height: 300px;
    }

    /* Contact Form */
    .contact-form {
        width: 80%;

    }

    .contacts {
        width: 100%;
        height: 520px;
        float: none;
        text-align: center;
    }

    .contacts-li {
        list-style: none;
        display: inline;
        font-size: 50px;
        padding: 2%;
    }

    .contact-allignment {
        margin-top: 1%;
    }

    .gallery-allignment h1 {
        padding-top: 10%;
    }
}

@media screen and (max-width: 607px) {
    .brief-history {
        height: 1565px;
    }
}

@media screen and (max-width: 590px) {

    #hero-text {
        padding-top: 10px;
        width: 340px;
        height: 120px;
    }

    #nav-list {
        padding-right: 20px;
        padding-top: 5px;
    }

    .brief-history {
        height: 1705px;
    }

    .observatory {
        height: 1170px;
    }

    .castle-cafe {
        height: 660px;
    }
}

@media screen and (max-width: 540px) {
    .brief-history {
        height: 1790px;
    }

    .observatory {
        height: 1200px;
    }
}

@media screen and (max-width: 515px) {
    .brief-history {
        height: 1925px;
    }

    .observatory {
        height: 1280px;
    }
}

@media screen and (max-width: 478px) {

    #nav-list {
        font-size: 15px;
        padding-right: 10px;
    }

    .brief-history {
        height: 2150px;
    }

    .observatory {
        height: 1410px;
    }

    .castle-cafe {
        height: 660px;
    }
}

@media screen and (max-width: 426px) {
    #nav-list {
        font-size: 15px;
        padding-right: 10px;
    }

    #hero {
        background-image: url('../images/bcgates.jpg');
    }

    .brief-history {
        height: 2300px;
    }

    .observatory {
        height: 1410px;
    }

    .castle-cafe {
        height: 640px;
    }

    .castle-cafe img {
        height: 250px;
    }

    .gallery-allignment {

        height: 3570px;
    }

    #images {
        column-count: 1;
    }

    .observatory {
        height: 1480px;
    }
}

@media screen and (max-width: 399px) {

    .brief-history {
        height: 2488px;
    }

    .observatory {
        height: 1530px;
    }

    .castle-cafe {
        height: 680px;
    }
}

@media screen and (max-width: 376px) {
    .brief-history {
        height: 2780px;
    }

    .observatory {
        height: 1620px;
    }

    .castle-cafe {
        height: 690px;
    }

    .gallery-allignment {

        height: 3180px;
    }
}

@media screen and (max-width: 341px) {
    #nav-list {
        font-size: 8px;
        padding-right: 5px;
    }

    .brief-history {
        height: 2920px;
    }

    .observatory {
        height: 1780px;
    }

    .castle-cafe {
        height: 700px;
    }

    .castle-cafe img {
        height: 200px;
    }

    .gallery-allignment {

        height: 2715px;
    }

    .gallery-allignment h1 {
        padding-top: 12%;
    }
}